<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Rubrica</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="/">Navbar</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="/">Home</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="/rubrica">Rubrica</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<div class="container">
			<h1>My Rubrica APP</h1>
			<div>
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Name</th>
				      <th scope="col">Lastname</th>
				      <th scope="col">City</th>
				      <th scope="col"></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="contact: ${lista}">
				      <th scope="row" th:text="${contact.id}"></th>
				      <td th:text="${contact.name}"></td>
				      <td th:text="${contact.lastname}"></td>
				      <td th:text="${contact.city}"></td>
				      <td><a class="btn btn-dark" th:href="@{/rubrica/{id}(id = ${contact.id})}">i</a></td> <!--  passaggio di un parametro tramite path variable -->
				      <!--  <td><a class="btn btn-dark" th:href="@{/rubrica(id = ${contact.id})}">i</a></td>  --> <!--  passaggio di un parametro tramite query String -->
				    </tr>     
				  </tbody>
				</table>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	</body>
</html>