<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-3">
      <div class="card" [routerLink]="['/clienti']">
        <div class="card-body">
          <h5 class="card-title mb-0">CLIENTI</h5>
        </div>
      </div>
    </div>
    <div class="col-12 p-3">
      <div class="card" [routerLink]="['/province']">
        <div class="card-body">
          <h5 class="card-title mb-0">PROVINCE</h5>
        </div>
      </div>
    </div>
    <div class="col-12 p-3">
      <div class="card border-danger" (click)="logOut()">
        <div class="card-body">
          <h5 class="card-title mb-0">LOG OUT</h5>
        </div>
      </div>
    </div>
  </div>
</div>
