<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <svg  [routerLink]="['/home']" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000000" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
      </svg>
    </div>
    <div class="col-12 text-center"><h3>GESTIONE PROVINCE</h3></div>
    <div class="col-12 text-center" >
      <form #f="ngForm" (ngSubmit)="onSearch()">
        <input type="text" ngModel placeholder="Search..." id="nome" name="nome" required>
        <span>
          <button class="btn" type="submit" >
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000000" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
        </span>
        <span>
          <button class="btn" (click)="getAll()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000000" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
            </svg>
          </button>
        </span>
      </form>

    </div>
    <div class="col-4 p-3" *ngFor="let provincia of province">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ provincia.id }} - {{ provincia.nome }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ provincia.regione }} - {{ provincia.sigla }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
